include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include versioneer.py
include softmobility/_version.py

# Tutorial data files loaded by example notebooks at runtime.
recursive-include softmobility/tutorials *.yaml
